<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<p><b>XML:  </b>{{ xml }}</p>
<p><b>JSON:  </b>{{ json }}</p>


